{% extends "base.html" %}

{% block title %}Product Levels{% endblock %}

{% block content %}
<h1 class="mt-4">Product levels</h1>
{% if products %}
<ul>
    {% for product in products %}
        <li class="level-item color-{{ product.color_css }}">
            <div class="level-label">
                <strong>{{ product.product_name }}</strong>
                <ul class="level-details">
                    <li>Product location: {{ product.get_product_location_display }}</li>
                    <li>Volume amount: {{ product.volume_amount }}</li>
                    <li>Volume unit: {{ product.get_volume_unit_display }}</li>
                    <li>Volume in liters: {{ product.volume_amount_l }}</li>
                    <li>Density: {{ product.density }}</li>
                    <li>Color: {{ product.get_color_display }}</li>
                    <li>Actual weight (kg): {{ product.actual_weight_kg }}</li>
                    <li>Current weight (kg): {{ product.current_weight_kg }}</li>
                </ul>
            </div>
            <progress
                class="color-{{ product.color_css }}"
                value="{{ product.current_weight_kg }}"
                max="{{ product.actual_weight_kg }}"
            ></progress>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No products yet. <a href="{% url 'add_product' %}">Add a new product</a>.</p>
{% endif %}
{% endblock %}
